<div class="job-search-container" ng-controller="JobSearchController">
	<h1>Find Jobs in Georgia!</h1>
	
	<form name="job-search-form" id="job-search-form" >
		<div class="form-group">
			<label for="job-position">Job Position</label>
			<input type="text" name="jobPosition" class="form-control" id="job-position" placeholder="Job Position" />
		</div>
		
		<div class="form-group">
			<label for="city">City</label>
			<input type="text" name="city" class="form-control" id="city" placeholder="City" />
		</div>

		<div class="checkbox">
			<label for="experience"></label>
			<input type="checkbox" name="experience" id="experience" /> Experience
		</div>

		<div class="checkbox">
			<label for="education"></label>
			<input type="checkbox" name="eductation" id="education" /> Education
		</div>

		<button class="btn btn-primary">Submit</button>
	</form>
</div>