<div class="job-search-container" ng-controller="JobSearchController">
	<h1>Find Jobs In Georgia!</h1>
	
	<form name="jobSearchForm" id="job-search-form" ng-submit="searchForJobs(jobSearchForm.$valid)" novalidate >
		<div class="form-group">
			<label for="job-position">Job Position</label>
			<input type="text" ngmodel="form.desiredPosition" name="desiredPosition" class="form-control" id="desired-position" placeholder="Position Title" required="" />
			<div ng-messages="jobSearchForm.desiredPosition.$error" role="alert">
			    <div ng-message="required">Please provide a job position.</div>
  			</div>	
		</div>
		
		<div class="form-group">
			<label for="city">City</label>
			<input type="text" ngmodel="form.city" name="city" class="form-control" id="city" placeholder="City (Atlanta, Sandy Springs, Marietta, Athens, etc)" required="" />
			<div ng-messages="jobSearchForm.city.$error" role="alert">
			    <div ng-message="required">Please provide a city.</div>
  			</div>	
		</div>

		<div class="form-group">
			<select name="position" class="form-control" ngmodel="form.expectedExperience">
				<option>Positions Expecting This Amount of Experience</option>
				<option value="0-1 years">0-1 years</option>
				<option value="1-3 years">1-3 years</option>
				<option value="3+ years">3+ years</option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-control" name="expectedEducation" ngmodel="form.education">
				<option>Positions Expecting this Amount of Education</option>
				<option value="Bachelors">Bachelors</option>
				<option value="Associates">Associates</option>
				<option value="High School">High School</option>
			</select>
		</div>

		<input type="submit" name="Submit" class="job-search-btn btn btn-primary">
	</form>
</div>