body {
	background-image: url(../images/bg_atlanta.jpg);
}

.container {
	position: relative;
}

h1 {
	position: absolute;
	left: 50%;
  	margin-left: -172px;
  	top: -19px;
}

#job-search-form {
	margin: 0 auto;
	width: 50%;
	margin-top: 140px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 40px;
}

.job-search-btn {
	display: block;
	margin: 0 auto;
}